.home {
  .hero {
    border-radius: 10px;
    margin: 25px 0;
    padding: 0 0;
    background: #ffd4da;
    -webkit-box-shadow: 0px 0px 43px 76px #ffd4da;
    -moz-box-shadow: 0px 0px 43px 76px #ffd4da;
    box-shadow: 0px 0px 43px 76px #ffd4da;
    > .row {
      height: 100%;
    }

    .hero-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading-text {
        font-size: 5em;
        letter-spacing: -2px;
        line-height: 1;
        color: #eb518a;
        text-shadow: none;
        // text-shadow: 3px 3px 1px #f19590;
        font-weight: bolder;
      }

      .secondary-text {
        max-width: 600px;
        color: #e06693;
        font-size: 1.2em;
        margin-top: 35px;
      }
    }

    .hero-logo-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 500px;

      img {
        width: 100%;
        @media screen and (max-width: 960px) {
          max-width: 300px;
        }
      }
    }
  }

  .stat-container {
    color: #8349cc;

    .big-text {
      font-weight: bolder;
      font-size: 3em;
    }
    .small-text {
      margin-top: -5px;
    }
  }

  // .nft-list {
  //   margin: 150px 0 50px 0;
  // }
}

.stats-components-wrapper {
  margin-bottom: 75px;

  .stats-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .stats-container {
      border-radius: 8px;
      text-align: center;
      width: 250px;
      background: #8349cc;
      padding: 15px 15px 20px 15px;
      color: white;

      .big-text {
        font-size: 2em;
        font-weight: bolder;
      }
    }
  }
}

.how-it-works {
  background: #ffd4da;
  box-shadow: 0px 0px 43px 76px #ffd4da;

  .heading {
    color: #7736c8;
    font-weight: bolder;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
  }

  .step {
    text-align: center;
    padding: 0 25px;
    margin-top: 25px;

    .title {
      margin: 10px 0 7.5px 0;
      font-size: 1.25em;
      font-weight: bolder;
    }
    .desc {
      margin: auto;
      color: #646060;
      max-width: 300px;
    }
  }
}

.model-display-section {
  .model-list-item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 15px;
    transition: 0.1s opacity;

    .pic {
      background-size: cover;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border: 2px solid #e06693;
    }

    .creator-text {
      color: #e06693;
      padding-left: 12.5px;
      .name {
        font-size: 1.1em;
        font-weight: bolder;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.totw-section-container {
  color: #7736c8;
  text-align: center;
  .section-title {
    z-index: 200;
    font-size: 4em;
    line-height: 1em;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  .desc {
    color: #646060;
  }
}

.marketplace-section {
  .heading {
    // font-size: 1.5e;
    letter-spacing: -1.5px;
    line-height: 1;
    color: #eb518a;
    text-shadow: none;
    // text-shadow: 3px 3px 1px #f19590;
    font-weight: bolder;
  }

  .in-house {
    font-size: 1.1em;
    color: #eb518a;
    font-weight: bolder;
    margin-bottom: 5px;
  }

  .marketplace-buttons-container {
    .marketplace-button {
      box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.25);
      margin-top: 20px;
      max-width: 700px;
      width: 100%;
      padding: 15px;
      padding-bottom: 17.5px;
      display: flex;
      align-items: center;
      background: #eb518a;
      color: white;
      border-radius: 8px;
      transition: 0.1s all;

      .icon {
        padding: 0 10px;
      }

      &.orange {
        background: #ef6b67 !important;
      }

      .content {
        padding: 0 15px;

        .title {
          font-size: 1.15em;
          font-weight: bolder;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transform: scale(0.99, 0.99);
      }
    }
  }
}

.totw-list-item-container {
  margin-top: 25px;
  text-align: left;

  .totw-name {
    z-index: 200;
    font-size: 1.75em;
    color: #7736c8;
    display: flex;
    align-items: center;
    font-weight: 500;

    transition: 0.2s opacity;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .pic {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #7736c8;
    margin-right: 15px;
  }

  .button button {
    border-color: #7736c8;
    background: #7736c8;
  }
}

.nft-section-container,
.model-section-container,
.totw-section-container {
  padding: 50px 0;
  margin-top: 0;
  background: #ffd4da;
  box-shadow: 0px 0px 43px 76px #ffd4da;

  .top-bar {
    z-index: 200;
    display: flex;
    justify-content: space-between;

    .title {
      z-index: 200;
      font-size: 2.5em;
      color: #eb518a;
      font-weight: bolder;
    }

    .button {
      z-index: 200;
      display: flex;
      align-items: center;
      .btn {
        border-radius: 50px;
      }
    }
  }

  .nft-display-section {
    // margin-top: 25px;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    padding: 25px 0;
    display: flex;
    justify-content: center;

    &.padded {
      // left: unset;
      // margin-left: unset;
      // width: 100%;

      .swiper-wrapper {
        padding: 0 50px;
      }

      @media screen and (max-width: 700px) {
        .swiper-wrapper {
          padding: 0;
        }
      }
    }

    .swiper-button-prev {
      justify-content: start;
      left: 0;
      padding-left: 50px;
      background: linear-gradient(
        90deg,
        rgba(255, 212, 218, 0.75) 15%,
        rgba(255, 212, 218, 0) 100%
      );
    }

    .swiper-button-next {
      justify-content: end;
      right: 0;
      padding-right: 50px;
      background: linear-gradient(
        270deg,
        rgba(255, 212, 218, 0.75) 15%,
        rgba(255, 212, 218, 0) 100%
      );
    }

    .swiper-button-next,
    .swiper-button-prev {
      z-index: 1000;
      color: #7736c8 !important;
      // padding: 25px;

      content: " ";
      z-index: 100;
      height: 106%;
      position: absolute;
      top: 0;
      width: 15vw;
      // background: rgb(252, 205, 211);
    }
  }
  .slide {
    display: flex;
    justify-content: center;
    height: fit-content;

    .nft-card {
      min-width: 350px;
      margin-bottom: 0;
    }
  }

  .swiper {
    overflow: visible !important;
  }
}

.totw-section,
.pink-bg {
  background: #ffd4da;
  box-shadow: 0px 0px 43px 76px #ffd4da;
}

.min-height-wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.totw-secondary-text {
  color: #6c6868;
  font-size: 1.2em;
  margin: 15px 0;
  max-width: 650px;
}

@media screen and (max-width: 600px) {
  .center-mobile {
    text-align: center;
  }

  .totw-buttons {
    text-align: center;
    margin-bottom: 25px;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
