.home {
  .hero {
    border-radius: 10px;
    margin: 25px 0;
    padding: 0 0;
    background: #fccdd3;
    -webkit-box-shadow: 0px 0px 43px 76px rgba(252, 205, 211, 1);
    -moz-box-shadow: 0px 0px 43px 76px rgba(252, 205, 211, 1);
    box-shadow: 0px 0px 43px 76px rgba(252, 205, 211, 1);
    > .row {
      height: 100%;
    }

    .hero-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading-text {
        font-size: 5em;
        letter-spacing: -2px;
        line-height: 1;
        color: #eb518a;
        text-shadow: none;
        // text-shadow: 3px 3px 1px #f19590;
        font-weight: bolder;
      }

      .secondary-text {
        max-width: 600px;
        color: #e06693;
        font-size: 1.2em;
        margin-top: 35px;
      }
    }

    .hero-logo-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 500px;

      img {
        width: 100%;
        @media screen and (max-width: 960px) {
          max-width: 300px;
        }
      }
    }
  }

  .stat-container {
    color: #8349cc;

    .big-text {
      font-weight: bolder;
      font-size: 3em;
    }
    .small-text {
      margin-top: -5px;
    }
  }

  // .nft-list {
  //   margin: 150px 0 50px 0;
  // }
}

.stats-components-wrapper {
  margin-bottom: 75px;

  .stats-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .stats-container {
      border-radius: 8px;
      text-align: center;
      width: 250px;
      background: #8349cc;
      padding: 15px 15px 20px 15px;
      color: white;

      .big-text {
        font-size: 2em;
        font-weight: bolder;
      }
    }
  }
}

.how-it-works {
  background: #fccdd3;
  box-shadow: 0px 0px 43px 76px #fccdd3;

  .heading {
    color: #7736c8;
    font-weight: bolder;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
  }

  .step {
    text-align: center;
    padding: 0 25px;
    margin-top: 25px;

    .title {
      margin: 10px 0 7.5px 0;
      font-size: 1.25em;
      font-weight: bolder;
    }
    .desc {
      margin: auto;
      color: #646060;
      max-width: 300px;
    }
  }
}

.nft-section-container {
  padding: 50px 0;
  background: #fccdd3;
  box-shadow: 0px 0px 43px 76px #fccdd3;

  .top-bar {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 2.5em;
      color: #e06693;
      font-weight: bolder;
    }

    .button {
      .btn {
        border-radius: 50px;
      }
    }
  }

  .slide {
    width: 100%;
  }
}

.totw-section,
.pink-bg {
  background: #fccdd3;
  box-shadow: 0px 0px 43px 76px #fccdd3;
}

.min-height-wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.totw-secondary-text {
  color: #e07a88;
  font-weight: 600;
  font-size: 1.2em;
  margin: 15px 0;
  max-width: 650px;
}

@media screen and (max-width: 600px) {
  .center-mobile {
    text-align: center;
  }

  .totw-buttons {
    text-align: center;
    margin-bottom: 25px;
  }
}
