@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

@import "./about.scss";
@import "./home.scss";
@import "./nftListItem.scss";
@import "./marketplace.scss";
@import "./modelListItem.scss";
@import "./view.scss";
@import "./viewModel.scss";
@import "./myNFTItem.scss";
@import "./resale.css";
@import "./nftCard.scss";

* {
  font-family: "Quicksand", sans-serif;
}

$theme-colors: (
  "primary": #d4668e,
  // "secondary": rgb(162, 141, 192),
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

body,
html {
  // background: #fccdd3;
  background-color: #fccdd3;
  background-image: url("/assets/bg.png");
  background-size: fit;
  min-height: 100vh;
}

.main-nav {
  backdrop-filter: blur(8px);
  background-color: rgba(252, 205, 211, 0.75);
  border-bottom: 3px solid rgba(212, 102, 143, 0.25);
  padding: 12px !important;

  a {
    color: #d4668e !important;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .logo {
    max-height: 45px;
  }
}

a,
a:hover {
  color: initial;
  text-decoration: none;
}

.white-container {
  background: #fffdf2;
  padding: 25px 15px;
  border-radius: 8px;
}

.white-tp-bg {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.white-tp-container {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  padding: 30px 40px;
  border-radius: 8px;
}

#basic-nav-dropdown {
  background: #d4668e;
  color: white !important;
  padding: 8x 15px;
  border-radius: 8px;
}

.heading-text {
  color: #fffdf2;
  text-shadow: 3px 3px 1px #f19590;
  font-weight: bolder;
  font-size: 2em;
}

.heavy-shadow {
  color: #fffdf2;
  text-shadow: 5px 5px 1px #f19590;
  font-weight: bolder;
}

.heading-text-primary {
  color: #d4668e;
  font-weight: bolder;
  font-size: 2em;
}

.heading-text-red {
  color: #e6756f;
  text-shadow: 3px 3px 1px #fffdf2;
  font-weight: bolder;
  font-size: 2em;
}

.footer {
  position: static;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
  backdrop-filter: blur(8px);
  background-color: rgba(252, 205, 211, 0.75);
  border-top: 3px solid rgba(212, 102, 143, 0.25) !important;
  // border-top: 3px solid rgba(0, 0, 0, 0.5);
  color: #d4668e !important;
  // border-radius: 10px 10px 0 0;
  // border: none !important;

  h5 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  li {
    margin-top: 5px;
  }

  a {
    color: #d4668e !important;
    color: white;
  }
}

.modal-content {
  padding: 5px;
  padding-top: 2px;
  background: rgba(255, 255, 255, 0.8) !important;
  border: 3px solid #d4668e;
  backdrop-filter: blur(10px);
  box-shadow: 0px -6px 23px -2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.modal-backdrop {
  transition: 1s all;
  backdrop-filter: blur(7px);
  background: rgba(252, 206, 211, 0.5);
  opacity: 1 !important;
}

.modal-dialog {
  max-width: 550px !important;
}
