@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

@import "./about.scss";
@import "./home.scss";
@import "./nftListItem.scss";
@import "./view.scss";
@import "./myNFTItem.scss";

* {
  font-family: "Quicksand", sans-serif;
}

$theme-colors: (
  "primary": #da7583,
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

body,
html {
  // background: #fccdd3;
  background-color: #fccdd3;
  background-image: url("/assets/bg.png");
  background-size: cover;
  min-height: 100vh;
}

.main-nav {
  background-color: #fccdd3;
  border-bottom: 3px solid #f29b97;
  padding: 12px !important;

  a {
    color: #da7583 !important;
    text-transform: uppercase;
    font-weight: bolder;
  }

  .logo {
    max-height: 45px;
  }
}

a,
a:hover {
  color: initial;
  text-decoration: none;
}

.white-container {
  background: #fffdf2;
  padding: 15px;
  border-radius: 8px;
}

#basic-nav-dropdown {
  background: #da7583;
  color: white !important;
  padding: 8x 15px;
  border-radius: 8px;
}
