@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/helvetica-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../public/fonts/graphik-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

p {
  font-family: "Inter Tight", sans-serif !important;
}
