.model-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;

  .model-list-item-container {
    max-width: 250px;
    height: fit-content;
    margin: 10px;
  }
}

.model-list-item {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  max-width: 95vw;
  padding: 15px;
  margin-bottom: 25px;
  transition: 0.2s all;
  border: 3px solid #e895b6;

  &:hover {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
  }

  .profile-pic {
    min-height: 300px;
    width: 100%;
  }

  .edition {
    color: #da5184;
    font-weight: bolder;
    font-size: 0.9em;
  }

  .title {
    font-weight: bolder;
    font-size: 2.25em;
  }

  .stats {
    margin: 25px 0;
    display: flex;
    .stat {
      font-weight: 600;
      margin-right: 50px;
      .label {
        color: #bbb59e;
      }
      .number {
        font-size: 1.75em;
      }
    }
  }

  .pic {
    img {
      width: 100%;
      border-radius: 8px;
    }
    height: 450px;
    border-radius: 8px;
    background: lightgrey;
    background-size: cover;
    background-position: center;
  }
  .details {
    font-weight: 600;
    margin: 15px 0;
    text-align: center;
    .label {
      color: #bbb59e;
      font-size: 0.9em;
    }
    .name {
      margin-top: -2px;
      font-size: 1.5em;
    }
  }
  .button,
  button {
    width: 100%;
  }
}

.info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  * {
    color: white;
  }
}

.tags-container {
  .toggle-button > input {
    display: none;
  }
  .toggle-button {
    margin-right: 5px;
  }
}
