.quick-search {
  position: relative;
  width: 100%;
}

.quick-search-results {
  padding: 8px 16px;
  background-color: #fff;
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;

  .quick-search-results-item {
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 500;
    display: flex;
    align-items: center;
    width: 100%;

    :hover {
      background-color: #f7f3f3;
    }
  }
  p {
    margin-bottom: 0;
  }
}
