.quick-search {
  position: relative;
  width: 100%;
  @media screen and (max-width: 580px) {
    min-width: 90vw;
  }

  .quick-search-results {
    position: absolute;
    padding: 8px 16px;
    background-color: #fff;
    max-height: 50vh;
    overflow-y: auto;

    .quick-search-results-item {
      padding-top: 4px;
      padding-bottom: 4px;
      z-index: 500;

      :hover {
        background-color: #fefefe;
      }
    }
  }
}
